@import "/public/css/reset.css";

:root {
  --font-base: 14px/24px "Roboto", sans-serif;
  --font-h1: 48px/64px "Roboto", sans-serif;
  --font-h2: 20px/32px "Roboto", sans-serif;

  --color-gradient-1: #FF5A98;
  --color-gradient-2: #7638F4;
  --color-gradient-3: #11A3D2;

  --color-gradient: linear-gradient(45deg,
    var(--color-gradient-1),
    var(--color-gradient-2),
    var(--color-gradient-3),
    var(--color-gradient-1),
    var(--color-gradient-2),
    var(--color-gradient-3));

  --gradient-animation: 20s linear infinite alternate;
}

body.dark-theme {
  --color-white: #212224;

  --color-gray-darker: rgba(255, 255, 255, 0.98);
  --color-gray-medium: rgba(255, 255, 255, 0.7);
  --color-gray-light: rgba(255, 255, 255, 0.24);
  --color-gray-lighter: rgba(255, 255, 255, 0.08);
  --color-gray-lightest: rgba(255, 255, 255, 0.08);

  --color-baseline: var(--color-gray-lightest);
}

body.light-theme {
  --color-white: rgba(255, 255, 255, 1);
  
  --color-gray-darker: rgba(0, 0, 0, 0.9);
  --color-gray-medium: rgba(0, 0, 0, 0.7);
  --color-gray-light: rgba(0, 0, 0, 0.24);
  --color-gray-lighter: rgba(0, 0, 0, 0.12);
  --color-gray-lightest: rgba(0, 0, 0, 0.08);

  --color-baseline: var(--color-gray-lightest);
}

body {
  font: var(--font-base);
  color: var(--color-gray-medium);
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-white);
}

.app {
  width: 912px;
  margin: 52px auto;
}

.header {
  padding-bottom: 45px;
  border-bottom: 2px solid var(--color-gray-lightest);
  position: relative;
  margin-bottom: 41px;
}

.header__title {
  font: var(--font-h1);
  font-weight: 900;
  margin-bottom: 25px;
  color: var(--color-gray-darker);
  user-select: none;
}

.header__subtitle {
  font: var(--font-h2);
  font-weight: 400;
}
.header__subtitle p:first-child {
  margin-bottom: 32px;
}

.action {
  text-decoration: none;
  padding-left: 32px;
  position: relative;
  font-weight: 500;
}

  .action::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: absolute;
    left: 0;
    background: var(--color-gradient);
    background-size: 800% 800%;
    animation: gradient var(--gradient-animation);
  }

  .action::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
  }

    .action--lights {
      position: absolute;
      top: 33px;
      right: 0;
    }
      .action--lights::after {
        background-image: url("/public/assets/ic_theme.svg");
      }

      .dark-theme .action--lights::after {
        background-image: url("/public/assets/ic_theme-dark.svg");
      }

      .action--lights--on::after {
        background-position-x: 24px;
      }

    .action--toggle-visibility {
      position: absolute;
      top: 6px;
      right: 0;
    }
      .action--toggle-visibility::after {
        background-image: url("/public/assets/ic_baseline.svg");
      }
      .dark-theme .action--toggle-visibility::after {
        background-image: url("/public/assets/ic_baseline-dark.svg");
      }

      .action--toggle-visibility--show::after {
        background-position-x: 24px;
      }

.colorized {
  background: var(--color-gradient);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: gradient var(--gradient-animation);
}
  .colorized[name="word"] {
    cursor: pointer;
    user-select: none;
  }

  .colorized--icon {
    display: inline-block;
    background: var(--color-gradient);
    background-size: 800% 800%;
    animation: gradient var(--gradient-animation);
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}

@keyframes gradient-border {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 2px solid var(--color-gray-lightest);
  margin-bottom: 47px;
}

.controls {
  width: 352px;
  margin-top: 6px;
}

.control:not(:last-child) {
  margin-bottom: 51px;
}

.control__label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-darker);
  margin-bottom: 8px;
}
.control__description {
  margin-bottom: 17px;
}
.control__description strong {
  font-weight: 500;
}

.control__input {
  border: 2px solid var(--color-gray-darker);
  width: 50px;
  padding: 6px 8px 6px 8px;
  margin-right: 24px;
  color: var(--color-gray-darker);
  background-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-appearance:textfield;
  font-size: 16px;
  line-height: 16px;
}

  .control__input:focus, .control__input:hover {
    outline: 0;
    border: 2px solid transparent;
    background-image:
    linear-gradient(var(--color-white), var(--color-white)), var(--color-gradient);
    background-repeat: no-repeat;
    background-size: 100% 100%, 800% 800%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: gradient-border var(--gradient-animation);
  }

  .control__input::-webkit-outer-spin-button,
  .control__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

.control__range {
  -webkit-appearance: none;
  width: calc(100% - (54px + 24px));
  height: 2px;
  cursor: pointer;
  background: var(--color-gray-light);
  outline: none;
  top: -4px;
  position: relative;
}

.control__range:focus, .control__range:hover {
  background: var(--color-gradient);
  background-size: 400% 400%;
  animation: gradient var(--gradient-animation);
}

.control__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: var(--color-gray-darker);
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
}
.control__range:hover::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  background: var(--color-gray-darker);
}
.control__range:focus::-webkit-slider-thumb {
  background: var(--color-gray-darker);
}

.control__range::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: var(--color-gray-darker);
  border-radius: 0;
  border: 0;
  cursor: pointer;
}
.control__range:hover::-moz-range-thumb {
  height: 24px;
  width: 24px;
}

.control__range:focus::-moz-range-thumb {
  background: var(--color-gray-darker);
}

.result {
  width: 512px;
  position: relative;
  margin-left: 48px;
}

.result__header {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 23px;
  color: var(--color-gray-darker);
}

.baseline-grid-background {
  overflow: hidden;
  height: 448px;
  background: linear-gradient(
    to bottom,
    var(--color-baseline),
    var(--color-baseline) 50%,
    var(--color-white) 50%,
    var(--color-white)
  );
  background-size: 100% 16px;
  font-family: "Roboto Slab", serif;
  color: var(--color-gray-darker);
  /* padding: 0 4px 0 0; */
}

  .baseline-grid-background--not-visible {
    background: none;
  }

.footer {
  color: var(--color-gray-medium);
  vertical-align: middle;
  padding-left: 32px;
  position: relative;
  font-size: 14px;
  line-height: 24px;
}
  .footer::before {
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background: var(--color-gradient);
    background-size: 800% 800%;
    animation: gradient var(--gradient-animation);
  }

  .footer::after {
    position: absolute;
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
  }
    .light-theme .footer::after {
      background-image: url("../assets/ic_heart-light.svg");
    }

    .dark-theme .footer::after {
      background-image: url("../assets/ic_heart-dark.svg");
    }
  
.footer .footer__divider {
  color: var(--color-gray-light);
  margin: 0 4px;
}
.footer a {
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  :root {
    --font-h1: 28px/40px "Roboto", sans-serif;
    --font-h2: 16px/24px "Roboto", sans-serif;
  }  
  .app {
    width: 100%;
    padding: 16px 24px 24px 24px;
    margin: 0;
  }

  .header {
    padding-bottom: 27px;
    margin-bottom: 31px;
  }
    .header__title {
      margin-bottom: 17px;
      padding-right: 32px;
    }

    .header__subtitle p:first-child {
      margin-bottom: 29px;
    }

    .action--lights {
      width: 24px;
      height: 24px;
      overflow: hidden;
      top: 8px;
      padding: 0;
    }

  .content {
    display: block;
    padding-bottom: 26px;
    margin-bottom: 31px;
  }

  .controls {
    width: 100%;
    border-bottom: 2px solid var(--color-gray-lightest);
    padding-bottom: 30px;
    margin-bottom: 31px;
  }
    .control:not(:last-child) {
      margin-bottom: 31px;
    }

  .result {
    margin-left: 0;
  }
    .result__header {
      font: var(--font-h2);
      font-weight: 500;
      margin-bottom: 17px;
    } 

      .action--toggle-visibility {
        top: 0;
      }

  .result {
    width: 100%;
  }
}