#bio_ep {
    width: 100%; height: 500px;
    max-width: 700px;
}
#bio_ep .sidebar {
    width: 250px; float: left;
}
#bio_ep .content {
    width: 450px;
    float: left;
    display: table;
    padding: 30px 30px 30px 30px;
}
#bio_ep .content h3 {
    color: #666666;
    font-size: 46px;
    font-weight: 700;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
@media (max-width: 730px) {
    #bio_ep {
        max-width: 80%;
    }
    #bio_ep .sidebar {
        display: none;
    }
    #bio_ep .content {
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    #bio_ep .content h3 {
        margin-top: 1em;
        font-size: 36px;
        font-weight: 600;
    }
    #bio_ep .content h3, #bio_ep .content p, #bio_ep .content button {
        text-align: center;
    }
}
